@import "../../../styles.scss";

.result{
  white-space: nowrap;
}
.scoreList{
    width:100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y:auto;
    background: $gsBackgroundSL;
    font-weight: $gsFontWeightSL;
    font-family: $gsFontFamilySL;
    font-size:$gsFontSizeSL;
    color: $gsFontColorSL;
    border: $gsBorderSL;
    padding:$gsPaddingSL;
    margin:$gsMarginSL;
}