@import "../../styles.scss";

.noselect{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.buttonNV {
    @extend .noselect;
    position: absolute;
    background: $csFill2NV;
    color: $csAccentNV;
    text-align: center;
    border-radius: 0px;
    border: $csBorder2NV 2px solid;
    stroke:$csAccentNV;
    top:-1px;
    bottom:-1px;
    fill: none;
}

.buttonQA {
    @extend .noselect;
    position: absolute;
    background: $csFill2QA;
    color: $csAccentQA;
    stroke: $csAccentQA;
    text-align: center;
    border-radius: 2px;
    fill: none;
}

.action-container{
    @extend .noselect;
    background: $csFillQA;
    border: none;
    border-radius: 2px;
    position:absolute;
    height:48px;
    width: calc(100% - 4px);
    border: $csBorderQA;
}
.navigation-container{
    @extend .noselect;
    position:absolute;
    background:$csFillNV;
    top: 48px;
    width: 100%;
    left:0px;
    height:51px;
    border: $csBorderNV;
}

.start {
    @extend .buttonNV;
    left: 0px;
}
.start .tooltip{
    visibility: hidden;
    width: 120px;
    background-color: white;
    color:black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.start:hover .tooltip {
    visibility:visible;
}

.previous {
    @extend .buttonNV;
}
.next {
    @extend .buttonNV;
}
.end {
    @extend .buttonNV;
    right: 2px;
}

.play{
    @extend .buttonQA;
    position:absolute;
    width: 35%;
    left: 1px;
    top: 2px;
    bottom:4px;
    border: $csBorder2QA;
    border-radius: 8px;
}

.view{
    @extend .buttonQA;
    position:absolute;
    width: 12%;
    left: calc(36.5% + 8px);
    top: 4px;
    bottom:4px;
}


.shrink{
    @extend .buttonQA;
    position:absolute;
    width: 12%;
    left: calc(49.5% + 12px);
    top: 4px;
    bottom:4px;
}


.grow {
    @extend .buttonQA;
    position:absolute;
    width: 12%;
    left: calc(63.5% + 16px);
    top: 4px;
    bottom:4px;
}

.settings{
    @extend .buttonQA;
    position:absolute;
    width: 12%;
    right: 4px;
    top: 4px;
    bottom:4px;
}

.feather  {
    @extend .noselect;
    position: absolute;
    left:4%;
    width: 96%;
    height: 96%;
    top:2%;
}
.featherThicc  {
    @extend .feather;
    stroke-width: 2.5;
}.featherShrink{
    @extend .feather;
    stroke-width:1.6;
    top:8%;
    height: 82%;
}.featherGrow{
    @extend .feather;
    stroke-width:1.8;
    height:104%;
    top:-8%;
}


.feather-play  {
    @extend .feather;
    position: absolute;
    left:6px;
    width: 32px;
    height: 80%;
    top:10%;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
.timer {
    @extend .feather;
    text-align: center;
    stroke:$csAccent2QA;
    color:$csAccent2QA;
    line-height: 38px;
    margin-left: 24px;
    font-size: 26px;
    font-weight: bold;
}