<div class="action-container" >
    <div (click)="toggleAutoPlay()" class="buttonQA play" >
            <svg class="feather-play">
                    <use [ngStyle]="{'visibility': playing ? 'visible':'hidden'}"
                            xlink:href="assets/images/feather-sprite.svg#pause" />
                    <use [ngStyle]="{'visibility': !playing ? 'visible':'hidden'}"
                            xlink:href="assets/images/feather-sprite.svg#play" />
            </svg>
            <div class="timer">{{timeLeft}}</div>
    </div>
    <div (click)="aria.rotateBoardOrientation()" class="buttonQA view" >
            <svg class="featherThicc">
                    <use xlink:href="assets/images/feather-sprite.svg#refresh-cw" />
            </svg>
    </div>

    <div (click)="layout.shrink()" class="buttonQA shrink" >
            <svg class="featherShrink">
                    <use xlink:href="assets/images/feather-sprite.svg#pawn-icon" />
            </svg>
    </div>

    <div (click)="layout.grow()" class="buttonQA grow" >
        <svg class="featherGrow">
                <use xlink:href="assets/images/feather-sprite.svg#pawn-icon" />
        </svg>
    </div>
    <div (click)="aria.toggleScoreType()" class="buttonQA toggleScore" #view>
        <svg class="featherThicc">
                <use [ngStyle]="{'visibility': (aria.scoreViewType.value === ScoreViewType.Flow) ? 'visible':'hidden'}"
                        xlink:href="assets/images/feather-sprite.svg#align-justify" />
                <use [ngStyle]="{'visibility': (aria.scoreViewType.value === ScoreViewType.Table) ? 'visible':'hidden'}"
                        xlink:href="assets/images/feather-sprite.svg#align-left" />
        </svg>
</div>
    <div (click)="aria.openSettings()" class="buttonQA settings" #settings>
        <svg class="featherThicc">
                <use [ngStyle]="{'visibility':aria.showSettings.value  ? 'visible':'hidden'}"
                        xlink:href="assets/images/feather-sprite.svg#sliders" />
        </svg>
</div>
</div>
<div class="navigation-container" >
    <div (click)="moveToStart($event);" class="buttonNV start" #start><svg class="featherThicc" >
                    <use xlink:href="assets/images/feather-sprite.svg#rewind" />
            </svg></div>
    <div (click)="back($event);" class="buttonNV previous" #previous><svg class="featherThicc" >
                    <use xlink:href="assets/images/feather-sprite.svg#chevron-left" />
            </svg></div>
    <div (click)="forward($event);" class="buttonNV next" #next><svg class="featherThicc" >
                    <use xlink:href="assets/images/feather-sprite.svg#chevron-right" />
            </svg></div>
    <div (click)="moveToEnd($event);" class="buttonNV end" #end><svg class="featherThicc" >
                    <use xlink:href="assets/images/feather-sprite.svg#fast-forward" />
            </svg></div>
</div>