<div class="action-container" >
    <div class="buttonQA play" #autoPlay>
            <svg class="feather-play">
                    <use [ngStyle]="{'visibility': playing ? 'visible':'hidden'}"
                        attr.xlink:href={{icons.Pause|iconpipe}} />
                    <use [ngStyle]="{'visibility': !playing ? 'visible':'hidden'}"
                        attr.xlink:href={{icons.Play|iconpipe}} />
            </svg>
            <div class="timer">{{timeLeft}}</div>
    </div>
    <div class="buttonQA view" #rotateBoard>
            <svg class="featherThicc">
                    <use attr.xlink:href={{icons.Flip|iconpipe}} />
            </svg>
    </div>

    <div class="buttonQA shrink" #shrinkBoard>
            <svg class="featherShrink">
                    <use attr.xlink:href={{icons.Pawn|iconpipe}} />
            </svg>
    </div>

    <div class="buttonQA grow" #growBoard>
        <svg class="featherGrow">
                <use attr.xlink:href={{icons.Pawn|iconpipe}} />
        </svg>
    </div>
    <div class="buttonQA settings" #settings>
        <svg class="featherThicc">
                <use [ngStyle]="{'visibility':aria.showSettings.value  ? 'visible':'hidden'}"
                attr.xlink:href={{icons.Settings|iconpipe}} />
        </svg>
</div>
</div>
<div class="navigation-container" >
    <div class="buttonNV start"  #start><svg class="featherThicc"  >Move to the start of game
        <use attr.xlink:href={{icons.Start|iconpipe}} ></use></svg>
    </div>
    <div class="buttonNV previous" #previous><svg class="featherThicc" >
        <use attr.xlink:href={{icons.Previous|iconpipe}} /></svg>
    </div>
    <div class="buttonNV next" #next><svg class="featherThicc"  >
        <use attr.xlink:href={{icons.Next|iconpipe}} /></svg>
    </div>
    <div class="buttonNV end" #end ><svg class="featherThicc" >
        <use attr.xlink:href={{icons.End|iconpipe}} /></svg>
    </div>
</div>