.background{
    position:absolute;
    top:-2px;
    left:-2px;
    width:100%;
    height:100%;
    border: grey 2px solid;
    border-radius:2px;
    z-index:0;
}

.container{
    border:none;
    height:auto;
    border-radius:0px;
    padding-bottom: 2px;
    display:flex;
    flex-wrap:wrap;
    flex-basis: auto;
    z-index: 8;
    justify-content: space-around;
    align-content:stretch;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.title-header{
    height:auto;
    flex-grow:3;
    display:flex;
    z-index:4;
    order:1;
}

player-showcase{
    margin:16px;
    margin-top: 8px;
    min-width: 280px;
    width: auto;
    max-height:120px;
    min-height:132px;
    margin-bottom: 24px;
}

.player-section{
    height: auto;
    width:100%;
    flex-grow: 6;
    min-width: 200px;
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
    z-index:4;
    order:2;
    text-align:center;
    justify-content: space-around;
}

.variant{
    min-height:32px;
    min-width:166px;
    margin-top:2px;
    height: 48px;
    flex-grow:2;
    order:0;
    z-index:10;
}

.match-header{
    order:1;
    height: auto;
    line-height:42px;
    font-size: 160%;
    text-align:center;
    min-width: 140px;
    width: calc(100% - 72px);
    min-height:42px;
    padding-bottom:4px;
    font-family: Candara;
    .match-date{
        height: 22px;
        font-size:72%;
        font-weight: bold;
        text-align: center;
        line-height:4px;
    }
}


.variant-header{
    height: 24px;
    width:217px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    line-height: 24px;
    border: 2px solid black;
}

.prev-game{
    order:0;
    height:36px;
    width:36px;
    border-radius: 2px;
    margin-top: 3px;
}

.next-game{
    order:2;
    margin-top: 3px;
    height:36px;
    width:36px;
    border-radius: 2px;
}

.disabled{
    visibility: hidden;
}

.primary-data-box{
    width:63%;
    height: 36px;
    background: rgb(77, 31, 0);
    color: white;
    float:left;
    margin-top:8px;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    padding-top:2px;
    z-index: 10;
    order:6;
}

.secondary-data-box{
    width:34%;
    height: 36px;
    background: rgb(246, 125, 44);
    color: white;
    float:right;
    border: 1px solid black;
    border-radius: 2px;
    margin-top:2px;
    text-align: center;
    z-index: 4;
    order:7;
}

.box-title {
    color: #fabe0b;
    text-align: left;
    margin-left: 2px;
    z-index: 4;
}

.secondary-box-title {
    color: #532c00;
    text-align: right;
    padding-right: 8px;
    z-index: 4;
}

olga-score {
    position:relative;
    width:100%;
    order:5;
    height: 480px;
}