<div class="container" #containerElement>
    <div class="top-header" #titleContainerElement>
    <img src="/assets/images/{{variant}}.svg" class="variant" #variantElement>
        <button [ngClass]="{disabled : currentGame == 0}" (click)="previousGame()" class="prev-game" #prevButtonElement>
            < </button>
                <div class="match-header" #matchHeaderElement><a href="{{matchURL}}" class="match-title">{{match}}</a>
                    <div class="match-date" (click)="searchDate()" >{{matchDate}}</div>
                </div>
                <button [ngClass]="{disabled : currentGame >= gameCount-1}" class="next-game" (click)="nextGame()" #nextButtonElement> >
                </button>
    </div>
    <div class="player-section" #playerSectionElement>
        <player-showcase [name]="white" [elo]="whiteElo" [playerData]="whiteData" [searchURL]="searchURL" #whiteShowcaseElement>
        </player-showcase >
        <player-showcase [name]="black" [color]="true" [elo]="blackElo" [playerData]="blackData" [searchURL]="searchURL" #blackShowcaseElement>
        </player-showcase >
    </div>
    <div class="result-section" #resultSectionElement>

    </div>
    <!-- <div class="primary-data-box"><div class="box-title">Event</div>{{event}}</div>
    <div class="secondary-data-box"><div class="secondary-box-title">Event Date</div>{{eventDate}}</div>

    <div class="primary-data-box"><div class="box-title">Match</div>{{match}}</div>
    <div class="secondary-data-box"><div class="secondary-box-title">Match Date</div>{{matchDate}}</div>

    <div class="primary-data-box"><div class="box-title">White</div>{{white}}</div>
    <div class="secondary-data-box"><div class="secondary-box-title">Elo</div>{{whiteElo}}</div>

    <div class="primary-data-box"><div class="box-title">Black</div>{{black}}</div>
    <div class="secondary-data-box"><div class="secondary-box-title">Elo</div>{{blackElo}}</div> -->
</div>