<div class="menu-container" #container>
    <h2 class="divider-text">Board</h2>
    <mat-divider [vertical]="true"></mat-divider>
    <color-select class="color-input" title='Light Tile' [color]="this.colors.boardBGLight.value" variableName='--boardBGLight'></color-select>
    <color-select class="color-input" title='Dark Tile' [color]="this.colors.boardBGDark.value" variableName='--boardBGDark'></color-select>
    <color-select class="color-input" title='Light Label' [color]="this.colors.boardLabelLight.value" variableName='--boardLabelLight'></color-select>
    <color-select class="color-input" title='Dark Label' [color]="this.colors.boardLabelDark.value" variableName='--boardLabelDark'></color-select>
    <br/><br/>
    <h2 class="divider-text">Game Score</h2>
    <mat-divider [vertical]="true"></mat-divider>
    <color-select class="color-input" title='Container Text' [color]="this.colors.gsTextColor.value" variableName='--gsTextColor'></color-select>
    <color-select class="color-input" title='Contianer Background' [color]="this.colors.gsBackground.value" variableName='--gsBackground'></color-select>
    <color-select class="color-input" title='Annotation' [color]="this.colors.gsTextColorAN.value" variableName='--gsTextColorAN'></color-select>
    <color-select class="color-input" title='Annotation Background' [color]="this.colors.gsBackgroundAN.value" variableName='--gsBackgroundAN'></color-select>
    <color-select class="color-input" title='List Background' [color]="this.colors.gsListBackground.value" variableName='--gsListBackground'></color-select>
    <br/><br/>
    <h2 class="divider-text">Game Score Highlight</h2>
    <mat-divider [vertical]="true"></mat-divider>
    <color-select class="color-input" title='Highlight' [color]="this.colors.gsTextColorHG.value" variableName='--gsTextColorHG'></color-select>
    <color-select class="color-input" title='Highlight Background' [color]="this.colors.gsBackgroundHG.value" variableName='--gsBackgroundHG'></color-select>
    <color-select class="color-input" title='Highlight Annotation' [color]="this.colors.gsBackgroundHG.value" variableName='--gsBackgroundHG'></color-select>
    <br/><br/>
    <h2 class="divider-text">Olga Control</h2>
    <mat-divider [vertical]="true"></mat-divider>
    <color-select class="color-input" title='Controls Background' [color]="this.colors.csBackground.value" variableName='--csBackground'></color-select>
    <color-select class="color-input" title='Controls' [color]="this.colors.csColor.value" variableName='--csColor'></color-select>
</div>