<div class="menu-container" #container>
    <h2 class="divider-text">Board</h2>
    <mat-divider [vertical]="true"></mat-divider>
    <color-select class="color-input" title='Light Tile' [color]="this.themes.boardBGLight.value" variableName='--boardBGLight'></color-select>
    <color-select class="color-input" title='Dark Tile' [color]="this.themes.boardBGDark.value" variableName='--boardBGDark'></color-select>
    <color-select class="color-input" title='Light Label' [color]="this.themes.boardLabelLight.value" variableName='--boardLabelLight'></color-select>
    <color-select class="color-input" title='Dark Label' [color]="this.themes.boardLabelDark.value" variableName='--boardLabelDark'></color-select>
    <br/><br/>
    <h2 class="divider-text">Game Score</h2>
    <mat-divider [vertical]="true"></mat-divider>
    <color-select class="color-input" title='Container Text' [color]="this.themes.gsTextColor.value" variableName='--gsTextColor'></color-select>
    <color-select class="color-input" title='Contianer Background' [color]="this.themes.gsBackground.value" variableName='--gsBackground'></color-select>
    <color-select class="color-input" title='Annotation' [color]="this.themes.gsTextColorAN.value" variableName='--gsTextColorAN'></color-select>
    <color-select class="color-input" title='Annotation Background' [color]="this.themes.gsBackgroundAN.value" variableName='--gsBackgroundAN'></color-select>
    <color-select class="color-input" title='List Background' [color]="this.themes.gsListBackground.value" variableName='--gsListBackground'></color-select>
    <br/><br/>
    <h2 class="divider-text">Game Score Highlight</h2>
    <mat-divider [vertical]="true"></mat-divider>
    <color-select class="color-input" title='Highlight' [color]="this.themes.gsTextColorHG.value" variableName='--gsTextColorHG'></color-select>
    <color-select class="color-input" title='Highlight Background' [color]="this.themes.gsBackgroundHG.value" variableName='--gsBackgroundHG'></color-select>
    <color-select class="color-input" title='Highlight Annotation' [color]="this.themes.gsBackgroundHG.value" variableName='--gsBackgroundHG'></color-select>
    <br/><br/>
    <h2 class="divider-text">Olga Control</h2>
    <mat-divider [vertical]="true"></mat-divider>
    <color-select class="color-input" title='Controls Background' [color]="this.themes.csBackground.value" variableName='--csBackground'></color-select>
    <color-select class="color-input" title='Controls' [color]="this.themes.csColor.value" variableName='--csColor'></color-select>
</div>