@import "../../styles.scss";
.settings-container{
    color:black;
    opacity: 1;
    position: absolute;
    top: 0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index: 999;
    background: #100c0ce3;
}


main-menu{
    position: absolute;
    top: 0px;
    bottom:0px;
    left:0px;
    right:0px;
    background: #100c0ce3;
    z-index: 1000;
    overflow-y: auto;
    visibility: hidden;
}
score-item-menu {
    position: absolute;
    top: 0px;
    bottom:0px;
    left:0px;
    right:0px;
    background: #100c0ce3;
    z-index: 1000;
    visibility: hidden;
}

.close-button{
    position: absolute;
    right: 6px;
    top: 6px;
    color: white;
    background-color: $boardBGDark;
    border-radius:4px;
    width: 44px;
    height: 44px;
    z-index: 1500;
    border: white 1px solid;
}

::ng-deep {
    mat-tab-group{
        position:absolute;
        width:100%;
        top: 38px;
    } 
    .mat-ripple.mat-tab-label.mat-focus-indicator.mat-tab-label-active{
        font-size:26px;
        color: white;
        border-radius: 2px;
        background-color: #131314;
    }
    .mat-ripple.mat-tab-label{
        font-size: 26px;
        color: white;
        margin-left: 8px;
    }
    .mat-tab-body-content.ng-tns-c121-1.ng-trigger.ng-trigger-translateTab{
        transform: none;
        border: white 2px solid;
        border-radius: 8px;
        min-height: 200px;
    }
 }