@import "../../../styles.scss";

.settings-container{
  display:flex;
  width:100%;
  height: 100%;
  margin-left:0px;
  min-width: 240px;
  overflow-y: auto;
}

.color-input{
  background-color:$gsBackground;
  font-size:2.1vmin;
  margin: 10px;
}

.settings-board{
  height: 320px;
  width: 320px;
  
}

::ng-deep{
  .small-slider.mat-slider.mat-slider-horizontal .mat-slider-thumb {
    height: 32px;
    width: 32px;
    border: solid 3px $csBackground;
    bottom: -20px;
    right: -20px;
  }

  .small-slider.mat-slider.mat-slider-horizontal .mat-slider-thumb-label-text {
    font-size: 24px;
  }

}