
@import "../../styles.scss";

.status-text {
  font-weight: bold;
  font-family: "georgia", garamond, palatino, bookman, "Times New Roman", times;
  float: left;
  text-align: left;
  color:black;
  font-size: 18px;
  margin-left: 4px;
  margin-top: 2px;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}