@import "../../../../styles.scss";

.control-container {
    position: relative;
    display: flex;
}
.color-input{
    height:3.5em;
    width: 3.5em;
    margin-top:4px;
    margin-left:4px;
    margin-bottom:4px;
    float:left;
    border-radius: 10px;
    border: 2px black solid;
}
.red{
    float:right;
    color:#ff0000;
    margin-right: 8px;
}

.green{
    float:right;
    color:#00ff00;
    margin-right: 8px;
}

.blue{
    float:right;
    color:#03f6f6;
    margin-right: 8px;
}

.rgb-row{
    display:flex;
    float:right;
    font-size: 14pt;
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 4px;
    width: calc(100% - 6em + 8px);
    font-size: 16px;
    color: $gsTextColor;
    word-wrap: none;
    white-space: nowrap;
    overflow-y: visible;
}
.title-row{
    float: none;
    position: absolute;
    bottom: 12px;
    left: 82px;
    font-size: 24px;
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 4px;
    font-size: 14pt;
    text-align: left;
    width: calc(100% - 5.5em + 8px);
    color: $gsTextColor;
}