@import "../../styles.scss";

mat-divider {
  background-color: white;
  margin: 2px;
}

.mat-grid-tile {
  background: $gamescore-highlight;
  color: $gamescore-foreground;
  font-family: $gamescore-family;
  font-weight: 360;
  max-width: 164px;
  font-size: 24px;
  text-align: auto;
}
.score-list {
  position: absolute;
  left: 8px;
  right: 8px;
  top: 60px;
  bottom: 8px;
  overflow: auto;
}
.score-title {
  color: white;
  font-size: 28px;
  margin: 6px;
}

.div-background {
  background: $bg-outer;
  height: 100%;
  border: 2px black solid;
  overflow: hidden;
}

.score-font {
  font-family: $gamescore-family;
  letter-spacing: 4px;
  margin-left: 2px;
  color: white;
  text-decoration: none;
}

.gs-menu {
  position: absolute;
  background: transparent;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.score-move {
  padding-left: 8x;
  margin-left: 8px;
}

.score-ply {
  font-family: $gamescore-family;
  font-size: 32px;
  font-weight: bold;
  margin-right: 6px;
}

.resize-handle {
  position: absolute;
  clip: true;
  left: -0.55em;
  top: calc(50% - 3em);
  width: 1.1em;
  border-radius: 5px;
  border: solid grey 3px;
  height: 6em;
  background-color: rgba(0, 0, 10, 255);
  cursor: grab;
}
