@import "../../styles.scss";

mat-divider {
  background-color: white;
  margin: 2px;
}


.mat-grid-tile {
  background: $gamescore-highlight;
  color: $gamescore-foreground;
  font-family: $gamescore-family;
  font-weight: 360;
  max-width: 164px;
  font-size: 24px;
  text-align: auto;
}
.score-list {
  position: absolute;
  left: 8px;
  right: 8px;
  top: 60px;
  bottom: 8px;
  overflow: auto;
}
.score-title {
  color: white;
  font-size: 28px;
  position: absolute;
  top: 2px;
  left: 6px;
}

.gamescore-container {
  background: $bgContainer;
  height: 100%;
  border: 2px black solid;
  overflow: hidden;
  margin-left: 4px;
  margin-right: 4px;
  line-height: $gsTextSize;
  word-break: keep-all;
  vertical-align: bottom;
}

.score-font {
  font-family: $gamescore-family;
  letter-spacing: 4px;
  margin-left: 2px;
  color: white;
  text-decoration: none;
  line-height: $gsTextSize;
}

.gs-menu {
  position: absolute;
  background: transparent;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.score-move {
  margin-left: 8px;
  line-height: $gsTextSize;
}

.score-ply {
  font-family: $gamescore-family;
  font-weight: bold;
  margin-right: 6px;
}

.resize-handle {
  position: absolute;
  clip: true;
  left: -4px;
  top: calc(50% - 3em);
  width: 36px;
  border-radius: 5px;
  border: solid grey 3px;
  height: 6em;
  background-color: rgba(0, 0, 10, 255);
  cursor: grab;


}
.input-box{
  position:absolute;
  right: 2px;
  width: 100%;
  height: 300px;
  border: solid black 4px;
  
}