<div class="settings-window">
    <div class="settings-background" (click)="ignoreInnerClicks($event)">
        <button mat-button-raised class="close-button" (click)="layout.closeSettings()">X</button>
        <h3 >Settings</h3>
        <mat-tab-group *ngIf="this.visible"   dynamicHeight="true" mat-align-tabs="center" animationDuration="500ms"
            (selectedTabChange)="tabChanged($event)">
            <mat-tab label="General">
            </mat-tab>
            <mat-tab label="Board">
                <!-- <ng-template matTabContent>
                    <div class="settings-content">
                        <canvas-chessboard class="settings-board" boardID="x-1232141"
                            [theme]="this.colorService.boardTheme()" [size]=640 [tileSize]=80 [interactive]=false>
                        </canvas-chessboard>
                    </div>
                </ng-template> -->
            </mat-tab>
            <mat-tab label="Game Score">
            <!--     <ng-template matTabContent>
                    <div class="settings-content">
                    </div>
                </ng-template> -->
            </mat-tab>
            <mat-tab label="Keymap">
            </mat-tab>
        </mat-tab-group>
        <settings-keymap></settings-keymap>
        <board-settings></board-settings>
    </div>
</div>