@import "../styles.scss";

.olga-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 800px;
  height: 600px;
  overflow-y:hidden;
}

.fenbutton {
  width: 200px;
  height: 80px;
  position: absolute;
  right: 10px;
  bottom: 1%;
}

cookie-consent{
  position: fixed;
  left:0px;
  right:0px;
  bottom:0px;
  z-index: 1200;
}

olga-score {
   position: absolute;
   z-index:10;
   height: auto;
  // height: 40%;
}

olga-header{
  background-image:url(/assets/images/header-background.svg);
  position: absolute;
  border: 1px solid black;
  border-radius: 2px;
  min-width:300px;
  min-height: 240px;
  overflow-y: auto;
  margin-left:-4px;
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

canvas-chessboard {
  position: absolute;
  top: 1px;
  left: 1px;
  border: none;
  border-radius: 1px;
}

olga-title{
  position: absolute;
  right: 4px;
  top: 0px;
  height: 5%;
  width: calc(50% -10px);
  text-align: center;
}

olga-controls {
  position: absolute;
  right: 1px;
  bottom: 8%;
  height: 99px;
  background-color: $gsBackground;
  border: black solid 1px;
  border-radius: 2px;
}

olga-status {
  position: absolute;
  widows: 45%;
  right: 1px;

 
}
olga-menu{
  position: fixed;
  top: 0px;
  bottom:0px;
  left:0px;
  right:0px;
  background: #100c0ce3;
  z-index: 1000;
  visibility: hidden;
}
