@import '../styles.scss';

.container{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}
.sbs-portrait{
    order:2;
    display:flex;
    flex-direction:row;
    width:100%;
    height:auto;
    flex-wrap:wrap;
}

.header{
    position:absolute;
    order:0;
}.header1{
    @extend .header;
    position:relative;
    top:0px;
    height:auto;
    right:0px;
    left:0px;
    overflow: hidden;
    max-height:clear;
}.header2{
    @extend .header;
    position:relative;
    top:0px;
    height:auto;
    right:0px;
    left:0px;
    overflow: hidden;
    max-height:clear;

}.header3{
    @extend .header;

}.header4{
    @extend .header;

}


.board{
    position: absolute;
    order:1;
}.board1{
    @extend .board;
    position:relative;
    order:0;
    flex-grow:1;
}.board2{
    @extend .board;
    position:relative;
    order:0;
    flex-grow: 1;
}.board3{
    @extend .board;

}.board4{
    @extend .board;

}

.score{
    position:relative;
}.score1{
    @extend .score;
    flex-grow:1;
    order:2;
    overflow-y:visible;
    height:auto;
}.score2{
    @extend .score;
    order:1;
    flex-grow:1;
    height:auto;
}

.controls{
    position:absolute;
    height:99px;
    width:100%;
    left:0px;
    right:0px;
}.controls1{
    @extend .controls;
    position:relative;
    order:1;
    flex-grow:2;
}.controls2{
    @extend .controls;
    position:relative;
    order:2;
    flex-grow:2;
}.controls3{
    @extend .controls;
    left:0px;
    width:100%;

}.controls4{
    @extend .controls;
    left:0px;
    width:100%;

}

.status{

}.status1{
    @extend .status;
    order:3;    
}.status2{
    @extend .status;
    order:2;    
}.status3{
    @extend .status;    
}.status4{
    @extend .status;    
}


.bottom-stage{
    order:12;
}