@import "../styles.scss";

.olga-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}

.fenbutton {
  width: 200px;
  height: 80px;
  position: absolute;
  right: 10px;
  bottom: 1%;
}

app-game-score-ux {
   position: absolute;
   right: 1px;
  // height: 40%;
}

app-olga-board {
  position: absolute;
  top: 1px;
  left: 1px;
  border: 2px black solid;
  border-radius: 1px;
}

app-gamescore-settings {
  position: absolute;
  right: 4px;
  bottom: 2%;
  height: 10%;
}

olga-controls {
  position: absolute;
  right: 1px;
  bottom: 8%;
  height: 84px;
  width:50%;
}