<div #olgaContainer id="{{ this.olgaID }}-olga-container" class="olga-container" (mousemove)="mouseMoved($event)">
  <app-olga-board #olgaBoard id="app-board{{this.olgaID}}" [UUID]="this.olgaID"></app-olga-board>
  <app-game-score-ux id="app-gamescore{{this.olgaID}}" (contextmenu)="ignoreEvent($event)">
  </app-game-score-ux>
  <olga-controls id="olga-controls{{this.olgaID}}"></olga-controls>
  <!-- <app-gamescore-settings #gameScore></app-gamescore-settings>
  <button mat-button class="fenbutton" (click)="
      olgaBoard.setFen(
        'rnbqkbnr/pp1ppppp/8/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 1 2'
      )
    ">
    Set Fen
  </button> -->
</div>