<font face="verdana,arial,helvetica" size="+1"><b><a href="/perl/chessplayer?pid=16860">Alex Dunne</a></b>
    <font color="#333333">vs</font>
    <b><a href="/perl/chessplayer?pid=43861">Kiven Plesset</a></b>
</font><br>
<font face="georgia,palatino,times new roman,times" size="-1">
    <b>"Plesset Surprise"</b>
    <font size="-2">(<a href="/perl/gamesoftheday">game of the day</a> Sep-03-2020)</font><br>

    New York State Championship (1976), Albany, NY USA
    <br>
    French Defense: Two Knights Variation <a href="/perl/chessopening?eco=C00">(C00)</a>
    &nbsp;<b>·</b>&nbsp; 0-1
</font>