<div (click)="gameService.moveToStart();" class="button start"><svg class="feather">
        <use xlink:href="/assets/images/feather-sprite.svg#chevrons-left" /></svg></div>
<div (click)="gameService.previous();" class="button previous"><svg class="feather">
        <use xlink:href="/assets/images/feather-sprite.svg#chevron-left" /></svg></div>
<div (click)="gameService.advance();" class="button next"><svg class="feather">
        <use xlink:href="/assets/images/feather-sprite.svg#chevron-right" /></svg></div>
<div (click)="gameService.moveToEnd();" class="button end"><svg class="feather">
        <use xlink:href="/assets/images/feather-sprite.svg#chevrons-right" /></svg></div>