@import "../../../styles.scss";
#context-menu-container{
  background: $bgContext;
  border: $borderContext;
  color: $textColorContext;
}
mat-card-title{
  color: $textColorContext;
}

.context-menu-button{
  background: $item-bg;
  border: $borderContext;
  color: $textColorContext;
  margin: 8px;
}
