<div class="gs-context-menu-container" (click)="open = false">
  <div>Variations</div>
  <div>-> {{ menuTitle }}</div>
  <mat-grid-list [cols]="2" rowHeight="72px">
    <mat-grid-tile><button mat-button class="context-menu-button">Add</button></mat-grid-tile>
    <mat-grid-tile><button mat-button class="context-menu-button">Remove</button></mat-grid-tile>
    <mat-grid-tile><button mat-button class="context-menu-button">Keep</button></mat-grid-tile>
    <mat-grid-tile><button mat-button class="context-menu-button">Delete</button></mat-grid-tile>
  </mat-grid-list>
</div>
