@import "../../../styles.scss";

.gsi-container {  
  display: inline-flex;
  line-height: $gsTextSize;
  margin: 2px;
}

.gsi-move{
  white-space: nowrap;
  color: $gsTextColor;
}

.gsi-ply{
  color: $gsTextColor;
}

.gsi-comment{
  color: $gsTextColorAN;
  margin-left: 4px;

}

/************************************ Game Score Group **************************/
.Group.gsi-container {
  color: $gsTextColor;
}
.Group.gsi-container-hg{
  background: $gsBackgroundHG;
  border: $gsBorderHG;
  line-height: $gsTextSize;
}
.Group.gsi-move {
  padding-left: 2px;
  line-height: $gsTextSize;
}

.Group.gsi-ply {
  background: $gsBackgroundAN;
  border-radius: 2px;
  margin-right: 2px;
  border: $gsBorderAN;
  font-size: $gsTextSize;
  line-height: $gsTextSize;
}

.Group.gsi-ply-highlight {
  background: $gsBackgroundHG;
  color: $gsTextColorHG;
  border:$gsBorderHG;
  line-height: $gsTextSize;
}




/************************************* Annotation Group **************************/
.Annotation.gsi-container {
  color: $gsTextColor;
  line-height: $gsTextSize;
}
.Annotation.gsi-container-hg{
  background: $gsBackgroundHG;
  border: $gsBorderHG;
  line-height: $gsTextSize;
}
.Annotation.gsi-move {
  padding-left: 2px;
  line-height: $gsTextSize;
}

.Annotation.gsi-ply {
  background: $gsBackgroundAN;
  border-radius: 2px;
  border: $gsBorderAN;
  font-size: $gsTextSize;
  line-height: $gsTextSize;
}
.Annotation.gsi-ply-highlight {
  background: $gsBackgroundHG;
  color: $gsTextColorHG;
  border:$gsBorderHG;
  line-height: $gsTextSize;
}

.Annotation.gsi-comment {
  padding-left:3px;
  padding-right:2px;
  margin-left:3px;
  margin-right:2px;
  line-height: $gsTextSize;
}


/************************************ Variation Group ***************************/

.Variation.gsi-container {
  border: white dashed 2px;
  background: $gsBackground;
  color: $gsTextColor;
  padding: 2px;
}

.Variation.gsi-move {
  padding-left: 2px;
  line-height: $gsTextSize;
}