<div class="container" #container>
<div class="titleContainer" #title>
    <div class="scoreText">Score</div>
    <div class="toggleView" (click)="toggleViewType()">
        <svg class="feather">
            <use  attr.xlink:href="{{(viewIcon | iconpipe)}}" />
        </svg>
    </div>
    <div class="shrinkFont" (mousedown)="startShrink()" (mouseleave)="stopShrink()" (mouseup)="stopShrink()">
        <svg class="feather">
            <use  attr.xlink:href="{{(theme.gsIconSF | iconpipe)}}" />
        </svg>
    </div>
    <div class="growFont" (mousedown)="startGrow()" (mouseleave)="stopGrow()" (mouseup)="stopGrow()">
        <svg class="feather">
            <use attr.xlink:href="{{(theme.gsIconGF | iconpipe)}}"  />
        </svg>
    </div>
</div>
<score-flow id="score-flow-{{aria.UUID}}" *ngIf="aria.scoreViewType.value === ScoreViewType.Flow">
</score-flow>
<score-table id="score-table-{{aria.UUID}}" *ngIf="aria.scoreViewType.value === ScoreViewType.Table">
</score-table>
</div>