@import "../../../styles.scss";

@import '../../../assets/scss/skueromorphism.scss';


mat-card{
  background-color: $primary-bg-inner;
  color: $primary-text;
}

.color-input{
  width:80px;
  height:80px;
  margin-bottom:6px;
  color:#0000ff;
  text-align: left;
  font-size:2vmin;
}

::ng-deep{
  .small-slider.mat-slider.mat-slider-horizontal .mat-slider-thumb {
    height: 32px;
    width: 32px;
    border: solid 3px $primary-item-bg;
    bottom: -20px;
    right: -20px;
  }

  .small-slider.mat-slider.mat-slider-horizontal .mat-slider-thumb-label-text {
    font-size: 24px;
  }

}
