<!-- <mat-card>
  <mat-card-title>
    Choose Layout
  </mat-card-title>
  <mat-card-subtitle>
    Settings
  </mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button color="primary" >Portrait</button>
    <button mat-raised-button color="primary" >Landscape</button>
  </mat-card-actions>
</mat-card>
<br/>
<mat-card >
  <mat-card-title>
    Choose Size
  </mat-card-title>
  <mat-card-subtitle>
    Settings
  </mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button class="blue-button" >Small</button>
    <button mat-raised-button class="blue-button" >Medium</button>
    <button mat-raised-button color="primary" >Large</button>
    <br/>
    <label>
      <input type="checkbox" name="my-checkbox" checked> Select me
  </label>
  <label>
      <input type="checkbox" name="my-checkbox"> Select me
  </label>
  </mat-card-actions>
</mat-card>
<br/> -->
<mat-card>
  <mat-card-title>
    Colors
  </mat-card-title>
  <mat-card-subtitle>
    Settings
  </mat-card-subtitle>
  <mat-card-content>

    <!-- <div>Font Size</div>
    <mat-slider #scoreFontSize thumbLabel class="small-slider" (input)="gameScoreService.scoreFontSize.next(($event.value ? $event.value : 18))" value="18" min="14" max="24" step="1" color="primary" ></mat-slider>
    <br/>
    <label class="switch">
      <input type="checkbox" #figureNotation (change)="gameScoreService.figurineNotation.next(figureNotation.checked)">
      <div style="font-size:12px; text-align:center;">Figurine Notation</div>
    </label>
    <br/>
    Font Family
    <select>
      <option>Cambria</option>
      <option>Times New Roman</option>
    </select> -->
  </mat-card-content>
</mat-card>