/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/modules/_fonts.scss";
$gamescore-family: "FigurineSymbolT1";
$gamescore-highlight: #585858ff;
$gamescore-foreground: white;

$red: #e43030;
$green: #19a187;
$light-blue: #00ffffff;
$blue: #367bf0;
$dark-blue: #265ab1;
$maroon: #b8174c;
$purple: #8c42ab;

// Main ARIA Color Element Variables
$textColor: var(--textColor); // Main Text Color
$textColorAttention: var(--textColorAttention); // Attention text
$textColorRemove: var(--textColorRemove); // Remove/Delete/Close
$textColorAdd: var(--textColorAdd); // Add/Create/Open
$textColorActive: var(--textColorActive); // Add/Create/Open
$background: var(--background); // Main background Color
$bgContainer: var(--bgContainer); // background of Containers
$bgMenu: var(--bgMenu); // background of Menus
$bgItem: var(--bgItem); // background of Items

// Context Menu
$bgContext: var(--bgContext); // background of Context Menu
$textColorContext: var(--textColorContext); // text color Context Menu
$borderContext: var(--borderContext); // border Context Menu
$overlayContextBackground: var(
  --overlayContextBackground
); // Context Menu Overlay background main
$overlayContextBackgroundGradient: var(
  --overlayContextBackgroundGradient
); // Context Menu background gradient



/******************* Menu *****************************************************/
$meBackground: var(--meBackground);

/************************ Menu Controls ******************************************/
$csFill: var(--csFill);
$csAccent: var(--csAccent);
$csAccent2: var(--csAccent2);

/******************* Game Score Container Variables ***************************/
$gsTextColor: var(--gsTextColor); // Text color for game score
$gsBackground: var(--gsBackground); // background of Containers
$gsListBackground: var(--gsListBackground); // list background of game score
$gsBorder: var(--gsBorder); // background of Menus
$gsTextSize: var(--gsTextSize); // background of Menus
$gsFontFamily: var(--gsFontFamily); // score font
$gsTableItemWidth: var(--gsTableItemWidth); // width of score item in table layout
$gsTablePlyWidth: var(--gsTablePlyWidth); // width of ply element in table layout

/******************* Game Score Container Variables ***************************/
$gsTextColorMW: var(--gsTextColorMW); // Text color for game score
$gsBackgroundMW: var(--gsBackgroundMW); // background of Containers
$gsBorderMW: var(--gsBorderMW); // background of Menus
$gsTextSizeMW: var(--gsTextSizeMW); // background of Menus

/******************* Game Score Container Variables ***************************/
$gsTextColorMB: var(--gsTextColorMB); // Text color for game score
$gsBackgroundMB: var(--gsBackgroundMB); // background of Containers
$gsBorderMB: var(--gsBorderMB); // background of Menus
$gsTextSizeMB: var(--gsTextSizeMB); // background of Menus

/******************* Game Score Highlight Variables ***************************/
$gsTextColorHG: var(--gsTextColorHG); // Text color for highlight
$gsAnnotationColorHG: var(--gsAnnotationColorHG); // Annotation/Comment color for highlight
$gsBackgroundHG: var(--gsBackgroundHG); // background for highlight
$gsBorderHG: var(--gsBorderHG); // border for highlight

/******************* Game Score Annotation Variables ***************************/
$gsTextColorAN: var(--gsTextColorAN); // Text color for highlight
$gsBackgroundAN: var(--gsBackgroundAN); // background for highlight
$gsBorderAN: var(--gsBorderAN); // border for highlight

/******************* Game Score Variation Variables ***************************/
$gsTextColorVA: var(--gsTextColorVA); // Text color for highlight
$gsBackgroundVA: var(--gsBackgroundVA); // background for highlight
$gsBorderVA: var(--gsBorderVA); // border for highlight

/******************* Game Score Ply Variables ***************************/
$gsTextColorPC: var(--gsTextColorPC); // Text color for game score ply
$gsBackgroundPC: var(--gsBackgroundPC); // background for game score ply
$gsBorderPC: var(--gsBorderPC); // border for game score ply

/******************** Control Colors ************************************/
$csBackground: var(--csBackground); // background for controls
$csColor: var(--csColor); // controls color (foreground)

/******************** Board Colors ************************************/
$boardBGDark: var(--boardBGDark); // board dark tile
$boardBGLight: var(--boardBGLight); // board light tile
$boardLabelLight: var(--boardLabelLight); // board light label
$boardLabelDark: var(--boardLabelDark); // board dark label



/******************** Font Sizes ************************************/
$gsFontSize: var(--gsFontSize); // board dark tile
$gsFontSizeAN: var(--gsFontSizeAN); // board light tile
$gsFontSizeHG: var(--gsFontSizeHG); // board light label
$gsFontSizeVA: var(--gsFontSizeVA); // board dark label
$gsFontSizePC: var(--gsFontSizePC); // board dark label
$hdrDataFontSize: var(--hdrDataFontSize); // size of player showcase data
$hdrNameFontSize: var(--hdrNameFontSize); // size of player showcase Name
$hdrTitleFontSize: var(--hdrTitleFontSize); // size of player showcase data
$hdrVariantFontSize: var(--hdrVariantFontSize); // size of player showcase Name
$hdrMatchDataFontSize: var(--hdrMatchDataFontSize); // size of player showcase Name
$hdrOpeningFontSize: var(--hdrMatchDataFontSize); // size of player showcase Name
$hdrResultFontSize: var(--hdrResultFontSize); // size of player showcase Name
$hdrRoundFontSize: var(--hdrRoundFontSize); // size of player showcase Name

// General stuff
$text-color: var(--text-color);
$bg-outer: var(--bg-outer);
$bg-inner: var(--bg-inner);

$bg-color: #f2f3f7;
$fg-color: #383a41;

$glow-shadow: 0 0 0.5em transparentize($blue, 0.3);
:root {
  --bg-color: #{$bg-color};
  --fg-color: #{$fg-color};

  --red: #{$red};
  --green: #{$green};
  --blue: #{$blue};
  --dark-blue: #{$dark-blue};
  --maroon: #{$maroon};
  --purple: #{$purple};
}
