
// Root Objects (base state)
.background{
    position:absolute;
    top:-2px;
    left:-2px;
    width:100%;
    height:100%;
    border: grey 2px solid;
    border-radius:2px;
    z-index:0;
}

.container{
    border:none;
    height:auto;
    border-radius:0px;
    padding-bottom: 2px;
    display:flex;
    flex-wrap:wrap;
    flex-basis: auto;
    z-index: 8;
    justify-content: space-around;
    align-content:stretch;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    overflow-x:hidden;
}

.top-header{
    height:auto;
    width:auto;
    flex-grow:10;
    display:flex;
    justify-content:center;
    z-index:4;
    order:1;
}
.player-showcase{
    margin-top: 12px;
    min-width: 220;
    max-height:120px;
}

.player-section{
    height: auto;
    width:100%;
    flex-grow: 6;
    min-width: 200px;
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
    z-index:4;
    order:2;
    text-align:center;
    justify-content: space-around;
}
.result-section{
    height: auto;
    width: auto;
    padding-left:4px;
    padding-right:4px;
    z-index:10;
    font-size: 18px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    z-index:10;
    text-align:center;
    margin-bottom:4px;
}
.result-trophy{
    width:auto;
    height:120px;
    margin-bottom:10px;
    margin-right: 20px;
}

.result-data{
    display:flex;
    flex-flow: column wrap;
    line-height: 28px;
}
.variant{

}

.set-name{

}

.event-date{
    width:100%;
    margin-top:-4px;
}
.round{
    width:100%;
    font-weight: bold;
    color: rgb(77, 77, 255);
    font-size: 24px;
}

.opening{
    width:100%;
    font-size:14px;
}

.site{
    width:auto;
    margin-right: 18px;
}

.site-flag{
    height: 26px;
    margin-bottom: -4px;
    margin-right:8px;
}
.calendar{
    height:28px;
    margin-bottom:-6px;
    margin-right:4px;
}
.match-date{
    width:auto;
}
.site-date{
    width:100%;
    display:flex;
    text-align:center;
    justify-content: center;
    line-height:18px;
    align-items:baseline;
}

.result{
    width:100%;
    font-weight: bold;
    font-size: 16px;
    margin-top:-4px;
}

// State 1 (Split SBS Portrait)
.result-section1{
    @extend .result-section;
    order:4;
}
.calendar1{
    @extend .calendar;
    height:22px;
}
.player-section1{
    @extend .player-section;
    flex-grow: unset;
    width:100%;
}
.site-date1{
    @extend .site-date;
    font-size: 12px;
}

.variant1{
    @extend .variant;
    height:24px;
    margin-top:12px;
    margin-left:3px;
}

.set-name1{
    order: 7;
}
.site-flag1{
    @extend .site-flag;
    height:16px;
}
.player-showcase1{
    @extend .player-showcase;
    order:2;
    max-height:64px;
    max-width:90%;
    margin-top:0px;
}
.result-trophy1{
    @extend .result-trophy;
    visibility: hidden;
    height:0px;
    width:0px;
}
.result-data1{
    @extend .result-data;
    
}

// State 2 (Full Portrait)
.result-section2{
    @extend .result-section;
    order:3;
    width:45%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top:-12px;
}
.player-section2{
    @extend .player-section;
    order:2;
    width:48%;
    flex-grow: unset;
    min-width:258px;
}
.site-date2{
    @extend .site-date;
    font-size: 12px;
}
.calendar2{
    @extend .calendar;
    height:22px;
}
.top-header2{
    @extend .top-header;
    order:1;
    width:calc(100% - 140px);
}
.variant2{
    @extend .variant;
    order:0;
    height:24px;
    margin-top:12px;
    margin-left:3px;
}
.player-showcase2{
    @extend .player-showcase;
    order:2;
    max-width:100%;
    max-height:64px;
    margin-top:0px;
    margin-bottom:14px;
}
.set-name2{
    order: 7;
    @extend .set-name;
}
.result-data2{
    @extend .result-data;

}
.site-flag2{
    @extend .site-flag;
    height:16px;
}
.result-trophy2{
    @extend .result-trophy;
    visibility: hidden;
    height:0px;
    width:0px;
}

// State 3 (Full Landscape - preferred)


.variant3{
    @extend .variant;
    margin-left:4px;margin-top:-20px;
    flex-grow:0;order:0;
    z-index:10;width:180px;
}
.player-section3{
    @extend .player-section;
}
.player-showcase3{
    @extend .player-showcase;
    width: 44%;
    min-width:280px;
}

.result-trophy3{
    @extend .result-trophy;
    order:2;
    margin-top: -8px;
}

.result-section3{
    @extend .result-section;
    order:3;
    margin-bottom:-2px;
    width: 100%;
}
.calendar3{
    @extend .calendar;
}
.site-flag3{
    @extend .site-flag;
}
.result-data3{
    @extend .result-data;
    order:1;
    text-align:center;
    padding-top:8px;
}
.score3{
    order:6;
}



// State 4 (Landscape Column)
.result-section4{
    @extend .result-section;
    order:3;
    text-align:center;
    margin-bottom:2px;
    width: 100%;
    justify-content: center;
}
.player-section4{
    @extend .player-section;
}
.site-flag4{
    @extend .site-flag;
    height: 16px;
}
.calendar4{
    @extend .calendar;
    height: 22px;
}
.variant4{
    @extend .variant;
    margin-top:8px;flex-grow:0;
    order:0;margin-left:1px;
    z-index:10;margin-right:-16px;    
    width:142px;
}

.set-name4{
    order: 1;
}
.result-trophy4{
    @extend .result-trophy;
    visibility: hidden;
    height:0px;
    width:0px;
}
.player-showcase4{
    @extend .player-showcase;
    width:88%;
    min-width:260px;
}














.match-header{
    order:1;
    height: auto;
    line-height:42px;
    font-size: 120%;
    margin-right:3px;
    text-align:center;
    min-height:42px;
    padding-bottom:4px;
    font-family: Candara;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    .match-date{
        height: 22px;
        font-size:16px;
        font-weight: bold;
        text-align: center;
        line-height:16px;
        margin-top:-8px;
    }
}


.variant-header{
    height: 24px;
    width:217px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    line-height: 24px;
    border: 2px solid black;
}

.prev-game{
    order:0;
    height:36px;
    width:36px;
    border-radius: 2px;
    margin-top: 3px;
}

.next-game{
    order:2;
    margin-top: 3px;
    height:36px;
    width:36px;
    margin-right:4px;
    border-radius: 2px;
}

.disabled{
    visibility: hidden;
}

.primary-data-box{
    width:63%;
    height: 36px;
    background: rgb(77, 31, 0);
    color: white;
    float:left;
    margin-top:8px;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    padding-top:2px;
    z-index: 10;
    order:6;
}

.secondary-data-box{
    width:34%;
    height: 36px;
    background: rgb(246, 125, 44);
    color: white;
    float:right;
    border: 1px solid black;
    border-radius: 2px;
    margin-top:2px;
    text-align: center;
    z-index: 4;
    order:7;
}

.box-title {
    color: #fabe0b;
    text-align: left;
    margin-left: 2px;
    z-index: 4;
}

.secondary-box-title {
    color: #532c00;
    text-align: right;
    padding-right: 8px;
    z-index: 4;
}

aria-score {
    position:relative;
    width:100%;
    margin-left:4px;
    order:4;
    height: auto;
    overflow-x: hidden;
    
}