@import "../../../styles.scss";
.settings-background{
  width:98%;
  height:98%;
  position:absolute;
  left:.75%;
  top:1%;
  z-index: 1000;
  min-height:380px;
  background: $meBackground;
  border: white 2px solid;
  border-radius: 2px;
}
h3{
  color:$gsTextColor;
  position:absolute;
  top: 6px;
  left: 16px;
  font-size: 28px;
}


.menu-content{
  position:absolute;
  top:42px;
  width:98%;
  padding-left: 2px;
  padding-right: 2px;
  height:calc(100% - 32px);
  margin-bottom:1px;
  margin-right: 1px;
  left: 0px;
  overflow-x:hidden;
  overflow-y:auto;
}

.display-item{
  margin-left:2px;
  margin-right:2px;
}
