@import "../../../../styles.scss";

.gsi-container {  
  display: inline-flex;
  line-height: calc( $gsFontSize + 2px);
  font-size: $gsFontSize;
  margin: 2px;
  padding-left:2px;
}

.gsi-move{
  white-space: nowrap;
  color: $gsFontColorWM;
  font-size: $gsFontSizeWM;
  font-family: $gsFontFamilyWM;
  background: $gsBackgroundWM;
  margin: $gsMarginWM;
  border: $gsBorderWM;
  padding: $gsPaddingWM;
  border-radius: $gsBorderRadiusWM;
}.Current.gsi-move{
  font-family: $gsFontFamilyCW;
  font-weight: $gsFontWeightCW;
  font-size: $gsFontSizeCW;
  background: $gsBackgroundCW;
  color: $gsFontColorCW;
  border: $gsBorderCW;
  margin: $gsMarginCW;
  border-radius: $gsBorderRadiusCW;
}.Variation.gsi-move{
  font-family: $gsFontFamilyVA;
  font-weight: $gsFontWeightVA;
  font-size: $gsFontSizeVA;
  background: $gsBackgroundVA;
  color: $gsFontColorVA;
  border: $gsBorderVA;
  margin: $gsMarginVA;
  border-radius: $gsBorderRadiusVA;
}.Current.Variation.gsi-move{
  font-family: $gsFontFamilyCV;
  font-weight: $gsFontWeightCV;
  font-size: $gsFontSizeCV;
  background: $gsBackgroundCV;
  color: $gsFontColorCV;
  border: $gsBorderCV;
  margin: $gsMarginCV;
  border-radius: $gsBorderRadiusCV;
}

.gsi-move.HalfPly{
  white-space: nowrap;
  color: $gsFontColorBM;
  font-size: $gsFontSizeBM;
  font-family: $gsFontFamilyBM;
  background:  $gsBackgroundBM;
  margin: $gsMarginBM;
  border: $gsBorderBM;
  padding: $gsPaddingBM;
  border-radius: $gsBorderRadiusBM;
 }.HalfPly.Current.gsi-move{
  font-family: $gsFontFamilyCB;
  font-weight: $gsFontWeightCB;
  font-size: $gsFontSizeCB;
  background: $gsBackgroundCB;
  color: $gsFontColorCB;
  border: $gsBorderCB;
  margin: $gsMarginCB;
  border-radius: $gsBorderRadiusCB;
}.HalfPly.Variation.gsi-move{
  font-family: $gsFontFamilyVA;
  font-weight: $gsFontWeightVA;
  font-size: $gsFontSizeVA;
  background: $gsBackgroundVA;
  color: $gsFontColorVA;
  border: $gsBorderVA;
  margin: $gsMarginVA;
  border-radius: $gsBorderRadiusVA;
}.HalfPly.Current.Variation.gsi-move{
  font-family: $gsFontFamilyCV;
  font-weight: $gsFontWeightCV;
  font-size: $gsFontSizeCV;
  background: $gsBackgroundCV;
  color: $gsFontColorCV;
  border: $gsBorderCV;
  margin: $gsMarginCV;
  border-radius: $gsBorderRadiusCV;
}


.gsi-ply{
  font-family: $gsFontFamilyPC;
  font-weight: $gsFontWeightPC;
  font-size: $gsFontSizePC;
  background: $gsBackgroundPC;
  color: $gsFontColorPC;
  border: $gsBorderPC;
  margin: $gsMarginPC;
  border-radius: $gsBorderRadiusPC;
}.Current.gsi-ply{
  font-family: $gsFontFamilyCP;
  font-weight: $gsFontWeightCP;
  font-size: $gsFontSizeCP;
  background: $gsBackgroundCP;
  color: $gsFontColorCP;
  border: $gsBorderCP;
  margin: $gsMarginCP;
  border-radius: $gsBorderRadiusCP;
}




.gsi-comment{
  color: $gsFontColorAN;
  margin-left: 4px;
  font-size: $gsFontSizeAN;
  background: $gsBackgroundAN;
}.Current.gsi-comment{
}.Variation.Current.gsi-comment{
  
}



.Current.Variation.gsi-container{
  border:rgb(0, 212, 250) 2px dashed;
}
.Current.Branched.gsi-container{
  border:rgb(0, 212, 250) 2px dashed;
}
.Current.Branched.Variation.gsi-container{
  border:rgb(0, 212, 250) 2px dashed;
}
.Branched.Variation.gsi-container{
  border:2px lightcoral dashed;
}
.Branched.gsi-container{
  border:2px lightcoral dashed;
}

/************************************ Game Score Group **************************/
.Group.gsi-container {
  color: $gsFontColorSL;
}
.Group.gsi-container-hg{
  line-height: $gsFontSize;
}
.Group.gsi-move {
  padding-left: 2px;
  line-height: $gsFontSizeSL;
}

.Group.gsi-ply {
  font-family: $gsFontFamilyPC;
  font-weight: $gsFontWeightPC;
  font-size: $gsFontSizePC;
  line-height: $gsFontSize;
  background: $gsBackgroundPC;
  color: $gsFontColorPC;
  border: $gsBorderPC;
  padding: $gsPaddingPC;
  margin: $gsMarginPC;
  border-radius: $gsBorderRadiusPC;
}

.Group.gsi-ply-highlight {
  line-height: $gsFontSizeSL;
}




/************************************* Annotation Group **************************/
.Annotation.gsi-container {
  color: $gsFontColorAN;
  line-height: $gsFontSizeAN;
}
.Annotation.gsi-container-hg{
  line-height: $gsTextSize;
}
.Annotation.gsi-move {
  padding-left: 2px;
  line-height: $gsTextSize;
}

.Annotation.gsi-ply {
  background: $gsBackgroundAN;
  border-radius: 2px;
  border: $gsBorderAN;
  font-size: $gsTextSize;
  line-height: $gsTextSize;
}
.Annotation.gsi-ply-highlight {
  line-height: $gsTextSize;
}

.Annotation.gsi-comment {
  padding-left:3px;
  padding-right:2px;
  margin-left:3px;
  margin-right:2px;
  line-height: $gsTextSize;
}


/************************************ Variation Group ***************************/

.Variation.gsi-container {
  border: white dashed 2px;
  background: $gsBackground;
  color: $gsFontColorVA;
  padding: 2px;
}

.Variation.gsi-move {
  padding-left: 2px;
  line-height: $gsTextSize;
}