@import "../../../../styles.scss";

.gsi-container {  
  display: inline-flex;
  line-height: $gsFontSize;
  margin: 2px;
  padding-left:2px;
}

.gsi-move{
  white-space: nowrap;
  color: $gsTextColor;
  font-size: $gsFontSize;
  font-family: $gsFontFamily;
  background: $gsBackground;
}

.gsi-ply{
  color: $gsTextColor;
  font-weight: bold;
  font-size: $gsFontSizePC;
  background: $gsBackgroundPC;
}

.gsi-comment{
  color: $gsTextColorAN;
  margin-left: 4px;
  font-size: $gsFontSizeAN;
  background: $gsBackgroundAN;
}

.Current{
  background: $gsBackgroundHG;
  color: $gsTextColorHG;
  border:$gsBorderHG;
  font-size: $gsFontSizeHG;
  line-height: $gsFontSizeHG;
}

.Current.gsi-comment{
  color: $gsAnnotationColorHG;
}

.Current.gsi-ply{
  color: rgb(0, 212, 250);
}

.Current.Variation.gsi-container{
  border:rgb(0, 212, 250) 2px dashed;
}
.Current.Branched.gsi-container{
  border:rgb(0, 212, 250) 2px dashed;
}
.Current.Branched.Variation.gsi-container{
  border:rgb(0, 212, 250) 2px dashed;
}
.Branched.Variation.gsi-container{
  border:2px lightcoral dashed;
}
.Branched.gsi-container{
  border:2px lightcoral dashed;
}

/************************************ Game Score Group **************************/
.Group.gsi-container {
  color: $gsTextColor;
}
.Group.gsi-container-hg{
  background: $gsBackgroundHG;
  border: $gsBorderHG;
  line-height: $gsFontSize;
}
.Group.gsi-move {
  padding-left: 2px;
  line-height: $gsFontSize;
}

.Group.gsi-ply {
  background: $gsBackgroundPC;
  border-radius: 2px;
  margin-right: 2px;
  border: $gsBorderAN;
  font-size: $gsFontSize;
  line-height: $gsFontSize;
}

.Group.gsi-ply-highlight {
  background: $gsBackgroundHG;
  color: $gsTextColorHG;
  border:$gsBorderHG;
  line-height: $gsFontSize;
}




/************************************* Annotation Group **************************/
.Annotation.gsi-container {
  color: $gsTextColor;
  line-height: $gsTextSize;
}
.Annotation.gsi-container-hg{
  background: $gsBackgroundHG;
  border: $gsBorderHG;
  line-height: $gsTextSize;
}
.Annotation.gsi-move {
  padding-left: 2px;
  line-height: $gsTextSize;
}

.Annotation.gsi-ply {
  background: $gsBackgroundAN;
  border-radius: 2px;
  border: $gsBorderAN;
  font-size: $gsTextSize;
  line-height: $gsTextSize;
}
.Annotation.gsi-ply-highlight {
  background: $gsBackgroundHG;
  color: $gsTextColorHG;
  border:$gsBorderHG;
  line-height: $gsTextSize;
}

.Annotation.gsi-comment {
  padding-left:3px;
  padding-right:2px;
  margin-left:3px;
  margin-right:2px;
  line-height: $gsTextSize;
}


/************************************ Variation Group ***************************/

.Variation.gsi-container {
  border: white dashed 2px;
  background: $gsBackground;
  color: $gsTextColor;
  padding: 2px;
}

.Variation.gsi-move {
  padding-left: 2px;
  line-height: $gsTextSize;
}