<div class="settings-background" (click)="ignoreInnerClicks($event)">
    <h3 >Settings</h3>
    <mat-tab-group *ngIf="this.visible"   dynamicHeight="true" mat-align-tabs="center" animationDuration="500ms" (selectedTabChange)="tabChanged($event)" [selectedIndex]="index">
        <mat-tab label="General"></mat-tab>
        <mat-tab label="Board"></mat-tab>
        <mat-tab label="Game Score"></mat-tab>
        <mat-tab label="Keymap"></mat-tab>
        <mat-tab label="Themes"></mat-tab>
        <mat-tab label="PGN Edit"></mat-tab>
    </mat-tab-group>
    <general-menu class="menu-content"></general-menu>
    <board-menu class="menu-content"></board-menu>
    <gamescore-menu class="menu-content"></gamescore-menu>
    <keymap-menu class="menu-content"></keymap-menu>
    <themes-menu #tMenu class="menu-content"></themes-menu>
    <pgn-menu class="menu-content"></pgn-menu>
</div>
