<div class="settings-background" (click)="ignoreInnerClicks($event)">
    <h3 >Settings</h3>
    <mat-tab-group *ngIf="this.visible"   dynamicHeight="true" mat-align-tabs="center" animationDuration="500ms" (selectedTabChange)="tabChanged($event)" [selectedIndex]="index">
        <mat-tab label="General">
        </mat-tab>
        <mat-tab label="Board">
            <!-- <ng-template matTabContent>
                <div class="settings-content">
                    <canvas-chessboard class="settings-board" boardID="x-1232141"
                        [theme]="this.colorService.boardTheme()" [size]=640 [tileSize]=80 [interactive]=false>
                    </canvas-chessboard>
                </div>
            </ng-template> -->
        </mat-tab>
        <mat-tab label="Game Score">
        <!--     <ng-template matTabContent>
                <div class="settings-content">
                </div>
            </ng-template> -->
        </mat-tab>
        <mat-tab label="Keymap">
        </mat-tab>
        <mat-tab label="Themes">
        </mat-tab>
        <mat-tab label="PGN Edit">
        </mat-tab>
    </mat-tab-group>
    <general-menu class="menu-content"></general-menu>
    <board-menu class="menu-content"></board-menu>
    <gamescore-menu class="menu-content"></gamescore-menu>
    <keymap-menu class="menu-content"></keymap-menu>
    <themes-menu #tMenu class="menu-content"></themes-menu>
    <pgn-menu class="menu-content"></pgn-menu>
</div>
