@import "../../../styles.scss";
.settings-background{
    width:98%;
    height:98%;
    position:absolute;
    left:.75%;
    top:1%;
    z-index: 1000;
    min-height:380px;
    background: $meBackground;
    border: white 2px solid;
    border-radius: 2px;
}
h3{
    color:$gsTextColor;
    position:absolute;
    top: 6px;
    left: 16px;
    font-size: 28px;
}


.menu-content{
    position:absolute;
    top:83px;
    width:calc(100% - 12px);
    height:calc(100% - 91px);
    left: 4px;
    overflow-x:none;
    overflow-y:auto;
    visibility: hidden;
}

board-menu{
    position:absolute;
    top:83px;
    width:calc(100% - 12px);
    height:calc(100% - 91px);
    left: 4px;
    overflow-x:none;
    overflow-y:auto;
    visibility: hidden;
}


.settings{
    position: absolute;
    right:2px;
    top: 2px;
    width: 48%;
    height: 100%;
}


 ::ng-deep {
    mat-tab-group{
        position:absolute;
        width:100%;
        top: 38px;
    } 
    .mat-ripple.mat-tab-label.mat-focus-indicator.mat-tab-label-active{
        font-size:26px;
        color: white;
        border-radius: 2px;
        background-color: #131314;
    }
    .mat-ripple.mat-tab-label{
        font-size: 26px;
        color: white;
        margin-left: 8px;
    }
    .mat-tab-body-content.ng-tns-c121-1.ng-trigger.ng-trigger-translateTab{
        transform: none;
        border: white 2px solid;
        border-radius: 8px;
        min-height: 200px;
    }
 }